<div class="container">
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          <th>Min Value</th>
          <th>Max Value</th>
          <th>Color</th>
          <th>Email</th>
          <th>Notification</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reportLevel of reportLevels; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ reportLevel.name }}</td>
          <td>{{ reportLevel.type }}</td>
          <td>{{ reportLevel.min }}</td>
          <td>{{ reportLevel.max }}</td>
          <td>{{ reportLevel.color }}</td>
          <td>{{ reportLevel.email }}</td>
          <td>{{ reportLevel.notification }}</td>         
          <td>
            <button type="button" class="btn btn-primary" (click)="onEdit(i)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="submit" class="btn btn-success" (click)="onNew()">New</button>
    </div>
  </div>
  <br>
  <div class="regentry" *ngIf="showNew">
    <form (ngSubmit)="onSave()">
      <div class="form-group row">
        <label for="firstname-input" class="col-2 col-form-label">Name</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="reportModel.name" name="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="type-input" class="col-2 col-form-label">Type</label>
        <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
          <button type="button" class="btn btn-outline-primary" id="dropdownManual" name="type" ngbDropdownToggle>{{reportModel.type}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button type="button" class="dropdown-item" *ngFor="let type of types" (click)="onChangeType(type)">{{type}}</button>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-2 col-form-label">Min</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="reportModel.min" name="min">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-password-input" class="col-2 col-form-label">Max</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="reportModel.max" name="max">
        </div>
      </div>
      <div class="form-group row">
        <label for="city-input" class="col-2 col-form-label">Color</label>
        <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
          <button type="button" class="btn btn-outline-primary" id="dropdownManual" name="color" ngbDropdownToggle>{{reportModel.color}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button type="button" class="dropdown-item" *ngFor="let color of colors" (click)="onChangeColor(color)">{{color}}</button>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="notif-input" class="col-2 col-form-label">Notification</label>
        <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
          <button type="button" class="btn btn-outline-primary" id="dropdownManual" name="color" ngbDropdownToggle>{{reportModel.notification}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button type="button" class="dropdown-item" *ngFor="let d of decision" (click)="onChangeDecision(d)">{{d}}</button>
          </div>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="email-input" class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input class="form-control" type="email" [(ngModel)]="reportModel.email" name="email">
        </div>
      </div>

      <br>
      <button type="submit" class="btn btn-success">{{submitType}}</button>
      <button type="submit" style="margin-left: 20px" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>