<div class="container">
    <ul class="nav nav-tabs">
    <li class="nav-item">
     <a class="nav-link" routerLink="/line-chart">Line Chart</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/area-chart">Area Chart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/configuration">Configuration</a>
      </li>
    </ul>
  
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>